/* Poppins Font  */
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

body {
    background-color: #263238;
    font-family: Poppins, sans-serif;
}

header {
    display: flex;
    justify-content: left;
    margin: 0 3rem;
}

.logo-name {
    font-family: Poppins, sans-serif;
}

.logo {
    width: 30px;
    height: 30px;
    margin-right: 0.7rem;
}

.logo-name a {
    text-decoration: none;
    color: #FAFAFA;
    font-size: 24px;
}

section {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.focus {
    display: flex;
    justify-content: center;
}

.focus select {
    width: 12rem;
    height: 5rem;
    border-radius: 12px;
    font-size: 48px;
    text-align: center;
    border-style: none;
    margin: 0 1rem;
    font-weight: 200;
}

input {
    width: 5rem;
    height: 5rem;
    border-radius: 12px;
    font-size: 48px;
    text-align: center;
    border-style: none;
    margin: 0 1rem;
    font-weight: 200;
    transition: width 0.25s;
}

select:hover {
    cursor: pointer;
    background-color:lightgrey;
}

option {
    text-align: center;
}

.coin-input {
    display: inline-block;
}

input:focus {
    outline: none;
}

.equal {
    font-size: 48px;
    padding: 0 1rem;
    color: #FAFAFA;
    opacity: .75;
}

